# Data Prep Script
## School Statistics

In [4]:
import pandas as pd
from pandasql import sqldf
import numpy as np

##

##

In [28]:
fdny = pd.read_csv('./datasets/response_times.csv')
fdny

,YEARMONTH,INCIDENTCLASSIFICATION,INCIDENTBOROUGH,INCIDENTCOUNT,AVERAGERESPONSETIME
0,2009/07,All Fire/Emergency Incidents,Citywide,40850,04:27
1,2009/07,All Fire/Emergency Incidents,Manhattan,10709,04:32
2,2009/07,All Fire/Emergency Incidents,Bronx,8137,04:37
3,2009/07,All Fire/Emergency Incidents,Staten Island,2205,04:45
4,2009/07,All Fire/Emergency Incidents,Brooklyn,11505,04:01
...,...,...,...,...,...
4363,FY 2017,Structural Fires,Manhattan,5669,04:26
4364,FY 2017,Structural Fires,Bronx,5829,04:22
4365,FY 2017,Structural Fires,Staten Island,1266,04:28
4366,FY 2017,Structural Fires,Brooklyn,7949,03:42
4367,FY 2017,Structural Fires,Queens,5362,04:34

In [29]:
fdny = sqldf("SELECT * FROM fdny WHERE INCIDENTCLASSIFICATION != 'All Fire/Emergency Incidents' and INCIDENTBOROUGH !='Citywide' and YEARMONTH='FY 2017'")
fdny['INCIDENTCOUNT'].sum()
#fdny

585368

In [31]:
fdny = fdny.loc[fdny.index.repeat(fdny.INCIDENTCOUNT)]

In [32]:
fdny = fdny[['INCIDENTCLASSIFICATION', 'INCIDENTBOROUGH', 'AVERAGERESPONSETIME']]
fdny

   INCIDENTCLASSIFICATION INCIDENTBOROUGH AVERAGERESPONSETIME
0             False Alarm       Manhattan               05:06
0             False Alarm       Manhattan               05:06
0             False Alarm       Manhattan               05:06
0             False Alarm       Manhattan               05:06
0             False Alarm       Manhattan               05:06
..                    ...             ...                 ...
29       Structural Fires          Queens               04:34
29       Structural Fires          Queens               04:34
29       Structural Fires          Queens               04:34
29       Structural Fires          Queens               04:34
29       Structural Fires          Queens               04:34

[585368 rows x 3 columns]

In [22]:
fdny['AVERAGERESPONSETIME'].describe()

count        30
unique       27
top       04:26
freq          2
Name: AVERAGERESPONSETIME, dtype: object

In [33]:
fdny['AVERAGERESPONSETIME']=fdny['AVERAGERESPONSETIME'].apply(lambda x: float(x.split(':')[0])*60+float(x.split(':')[1]))

In [34]:
fdny['AVERAGERESPONSETIME'].describe()

count    585368.000000
mean        293.743397
std          31.402791
min         222.000000
25%         283.000000
50%         294.000000
75%         333.000000
max         336.000000
Name: AVERAGERESPONSETIME, dtype: float64

In [35]:
fdny['AVERAGERESPONSETIME'] = pd.cut(fdny['AVERAGERESPONSETIME'], [222, 283, 294, 333, 336], labels=['q1', 'q2', 'q3', 'q4'], include_lowest=True)

In [37]:
fdny
fdny.to_csv('./datasets/fdny.csv')